{%  extends "flashcards/base.html"  %}

{%  block title  %}{{title}}{%  endblock  %}

{%  block content  %}
<form method="POST">
    {%  csrf_token  %}
    <div class="input_flashcard_form">
        {{  form.model_choice  }}
        <input class="input_button" type="submit" value="Find">
        <br><br>
    </div>
</form>
{%  for card in cards %}
    <div class="flashcard_list_info">
        <span class="card_text">
            {{  card.first_side|truncatechars:50   }} |
            {{  card.second_side|truncatechars:50  }}  -
            {{  card.category.name|truncatechars:50  }}
        </span>
        <div class="group_buttons">
            <a href="{%  url 'update_flashcard' card.id  %}"><button class="list_update_button" type="button">Update flashcard</button></a>
            <button type="submit" class="list_delete_button">Delete</button>
        </div>
    </div>
    <hr>
{%  endfor  %}
{%  endblock  %}