{%  extends "flashcards/base.html"  %}

{%  block title  %}{{title}}{%  endblock  %}

{%  block content  %}
{%  for card in cards %}
    {{  card.id  }}.
    {{  card.first_side  }} -
    {{  card.second_side  }} -
    {{  card.category.id  }}. {{  card.category.name  }}
    <br>
    <a href="{%  url 'update_flashcard' card.id  %}"><button type="button">Update flashcard</button></a>
    <a href="{%  url 'delete_flashcard' card.id  %}"><button type="button">Delete</button></a>
    <br>
    <hr>
{%  endfor  %}
{%  endblock  %}