{%  extends "flashcards/base.html"  %}
{%  load static  %}

{%  block title  %}{{title}}{%  endblock  %}

{%  block content  %}

<script>
    window.pageData = {
        front: "{{ card1|escapejs }}",
        back: "{{ card2|escapejs }}"
    };
</script>

<section align="center">
<form>
    <div class="flashcard_display"  align="center"><p></p></div>
    <div align="center" class="card_counter">{{  current_learn_cards  }}/{{  count_cards_in_category  }}</div>
    <input class="change_card_button" type="button" value="Перевернуть карточку">
</form>
</section>

<div align="center">
<form method="POST">
    {% csrf_token %}
    <input class="bad_input_button" type="submit" name='wrong' value="Wrong">
    {%  if is_last_card_in_session  %}
        <input class="good_input_button" type="submit" name='complete' value="Сomplete">
    {%  else  %}
        <input class="good_input_button" type="submit" name='learn' value="Learn">
    {%  endif  %}
</form>
</div>

<script type="text/javascript" src='{% static "flashcards/js/flashcards_list.js" %}'>
</script>
{%  endblock  %}